{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="inner-heading">
                        <ul class="breadcrumb">
                            <li><a href="index.html">Home</a> <i class="icon-angle-right"></i></li>
                            <li><a href="#">Portfolio</a> <i class="icon-angle-right"></i></li>
                            <li class="active">Portfolio detail</li>
                        </ul>
                        <h2>Portfolio detail</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="content">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <article class="noborder">
                        <div class="top-wrapper">
                            <div class="post-heading">
                                <h3><a href="#">{{ product.name }}</a></h3>
                            </div>
                            <!-- start flexslider -->
                            <div class="portfolio-detail">
                                <img src="img/dummies/works/detail/1.jpg" alt="" />
                            </div>
                            <!-- end flexslider -->
                        </div>

                        <p>{{ product.description }}</p>

                        <form action="{{ path('basket') }}" method="post">
                        <div>
                            <input type="hidden" name="product" value="{{ product.id }}">
                            <div>
                                <label for="quantity">Quantité</label>
                                <input type="text" id="quantity" name="quantity">
                            </div>
                            <div>
                                <button class="btn btn-primary">Ajouter au panier</button>
                            </div>
                        </div>
                        </form>
                    </article>

                    <div class="row">
                        <div class="span12">
                            <h4>Related works</h4>
                        </div>
                        <div class="grid related-works cs-style-4">
                            <div class="span2">
                                <div class="item">
                                    <figure>
                                        <div><img src="img/dummies/works/1.jpg" alt="" /></div>
                                        <figcaption>
                                            <div>
                          <span>
											<a href="img/dummies/works/big.png" data-pretty="prettyPhoto[gallery1]" title="Portfolio caption here"><i class="icon-plus icon-circled icon-bglight"></i></a>
											</span>
                                                <span>
											<a href="#"><i class="icon-file icon-circled icon-bglight"></i></a>
											</span>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <div class="span2">
                                <div class="item">
                                    <figure>
                                        <div><img src="img/dummies/works/2.jpg" alt="" /></div>
                                        <figcaption>
                                            <div>
                          <span>
											<a href="img/dummies/works/big.png" data-pretty="prettyPhoto[gallery1]" title="Portfolio caption here"><i class="icon-plus icon-circled icon-bglight"></i></a>
											</span>
                                                <span>
											<a href="#"><i class="icon-file icon-circled icon-bglight"></i></a>
											</span>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <div class="span2">
                                <div class="item">
                                    <figure>
                                        <div><img src="img/dummies/works/3.jpg" alt="" /></div>
                                        <figcaption>
                                            <div>
                          <span>
											<a href="img/dummies/works/big.png" data-pretty="prettyPhoto[gallery1]" title="Portfolio caption here"><i class="icon-plus icon-circled icon-bglight"></i></a>
											</span>
                                                <span>
											<a href="#"><i class="icon-file icon-circled icon-bglight"></i></a>
											</span>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <div class="span2">
                                <div class="item">
                                    <figure>
                                        <div><img src="img/dummies/works/4.jpg" alt="" /></div>
                                        <figcaption>
                                            <div>
                          <span>
											<a href="img/dummies/works/big.png" data-pretty="prettyPhoto[gallery1]" title="Portfolio caption here"><i class="icon-plus icon-circled icon-bglight"></i></a>
											</span>
                                                <span>
											<a href="#"><i class="icon-file icon-circled icon-bglight"></i></a>
											</span>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <div class="span2">
                                <div class="item">
                                    <figure>
                                        <div><img src="img/dummies/works/5.jpg" alt="" /></div>
                                        <figcaption>
                                            <div>
                          <span>
											<a href="img/dummies/works/big.png" data-pretty="prettyPhoto[gallery1]" title="Portfolio caption here"><i class="icon-plus icon-circled icon-bglight"></i></a>
											</span>
                                                <span>
											<a href="#"><i class="icon-file icon-circled icon-bglight"></i></a>
											</span>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <div class="span2">
                                <div class="item">
                                    <figure>
                                        <div><img src="img/dummies/works/6.jpg" alt="" /></div>
                                        <figcaption>
                                            <div>
                          <span>
											<a href="img/dummies/works/big.png" data-pretty="prettyPhoto[gallery1]" title="Portfolio caption here"><i class="icon-plus icon-circled icon-bglight"></i></a>
											</span>
                                                <span>
											<a href="#"><i class="icon-file icon-circled icon-bglight"></i></a>
											</span>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>

{% endblock %}
